*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin:0;
}

nav{
    background-color: slategray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursive;
    text-decoration: none;
}

li{
    padding: .5em;
    color: black;
}

a{
    display: inline-block;
}

a:hover{
    display: inline-block;
    background-color: yellow;
    padding: .5em;
    color: blue;
}

h2{
    padding: .2em 3em ;
    font-family: 'Bangers', cursive;
    margin: auto;
}




/*------------*/

/** {*/
/*    box-sizing: border-box;*/
/*}*/
/*body {*/
/*    margin: 0;*/
/*}*/
/*nav {*/
/*    background: #333333;*/
/*}*/
/*ul {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    display: flex; !* made unordered list a flex container *!*/
/*}*/
/*nav a {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    font-family: Verdana;*/
/*    display: inline-block; !* inline-block to increase clickable area beyond the text *!*/
/*    padding: 1em; !* increases clickable area of anchor tags on all sides by 1em *!*/
/*}*/
/*nav a:hover {*/
/*    background: black;*/
/*}*/
/*nav ul li:nth-child(4) {*/
/*    !**/
/*        this allows the last flex item to be right justified*/
/*        by filling remaining space to the left of the flex item with margin*/
/*    *!*/
/*    margin-left: auto;*/
/*}*/